$white: #fff;


$font-h1: 2.5em;
$font-h2: 2em;
$font-h3: 1.5em;
$font-m: 1em;
$font-sm: .75em;

$h2-color: #c4eeff;
$blue-header-color: #2babd6;
$gray-color: #979da7;
$black-color: #303030;

$header-bg: #00b7ef;
$smoke-bg: #e6ebed;
$course-card-bg: #0db7ed;
$primary-btn-bg: #fd7700;

$life-at-bg: #2babd6;

$footer-bg: #29334c;
$footer-link-color: #2babd6;